/* .container {

    display: grid;
    justify-content: center;

}


div {

    font-family: 'Jost', sans-serif;

}

div h1 {

    text-align: center;

}

div input {

    border-radius: 0% !important;

}

#main_div {

    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 450px;

}

div p {

    text-align: center;

}

button {

    border-radius: 0% !important;

} */