.heading_ul {
    margin-top: 5px;
    height: 15px;
    font-family: 'Jost', sans-serif;

}

#categories_id button {

    border-radius: 0%;

}

#main_heading_a {

    letter-spacing: 3px;

}

.heading_ul img {

    width: 15px;
    margin-right: 5px;
    margin-top: -2px;

}

.heading_ul li {
    color: black;
    display: inline;
}

.heading_ul li a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

.heading_ul i {
    color: black;
    display: inline;
    padding-left: 20px;
}

.ul_inside_div {

    display: inline;
    padding-left: 400px;

}

.ul_inside_div a {

    text-decoration: none;

}

.ul_inside_div a i {

    padding-left: 25px;

}

#logout_ul i {

    font-size: x-large;

}

#logout_ul ul a {

    color: black;

}

#nav_dropdown li {

    padding-left: 30px;
    font-weight: 500;
    color: white;

}

.navbar div div ul li a {

    color: white;

}

.navbar {

    font-family: 'Jost', sans-serif;

}

.main_heading_div {

    text-align: center;
    background-color: black;
    height: 40px;
    color: white;
    padding-top: 10px;

}

.main_heading_div a {

    color: bisque;

}

#search_button {

    color: white;
    border: 0;
    border-radius: 0%;
}

#logout_ul {

    padding-left: 40px;

}


#categories_id ul li a {

    color: black;

}

#product_search input {

    border-radius: 0%;

}

.class_name{

    color: green !important;

}

.ftr_p{

    text-align: center;
}