#msg_id {

    color: red;

}
#carsl_class{

    margin:0px;
}

.card_body {

    height: 400px;
    border: 0;

}

form img {

    margin-left: 180px;
    margin-top: 30px;
    border-radius: 0%;

}

div {

    font-family: 'Jost', sans-serif;

}

#cart_button {

    border-radius: 0%;
    color: white;
    padding: 10px 35px;

}

#cart_button i {

    font-size: 16px;
    padding-right: 8px;
    padding-top: -15px;
}

.card-body button {

    border-radius: 0%;
    color: green;
    padding: 10px 25px;

}

.card-body {

    margin-top: 55px;
}

.card-body button i {

    padding-right: 8px;
    font-size: 16px;


}

.card-body h5 {

    font-size: x-large;

}

.card-body h4 {

    color: rgb(149, 132, 49)
}


.card-body p {

    font-size: large;
    line-height: 25px;

}

#tax_p {

    color: green;
    padding: 5px;

}